:root{
    --bg-color-pre: #f0f0f4;
    --primary:#00a3e0;
    --secondary:#000;
}

html{
    box-sizing: border-box;
}
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    font-family: sans-serif;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23cccccf' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
input[type="text"],
input[type="number"],
select,
textarea {
  font-size: 16px;
}
a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  outline: var(--secondary) dotted 2px;
  outline-offset: .05em;
}
button{
    all: unset;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 600;
}
button.genera-url:hover{
    background-color: hsl(0deg 0% 10%);
}
button.btn-copy:hover{
    background-color: var(--secondary);
    
}
label{
    display: block;
}
input,textarea{
    padding: .5rem;
    border: 1px solid gray;
    width: 100%;
}
.btn{
    padding: 1rem 2rem;
    border: 1px solid gray;
    cursor: pointer;
    background-color: hsl(0, 0%, 0%);
    color: white;
}
.btn-order:hover{
    background-color:hsl(0, 0%, 10%);
}
.box-copy{
    display: flex;
}
.btn-copy{
    background-color: var(--primary);
    margin: 0;
    border: none;
    transition: background-color .2s ease-out,border-color .2s ease-out;
}
.btn-reset{
    background-color: hsl(217deg 3% 49%);
}
.btn-reset:hover{
    background-color: hsl(217deg 3% 59%);
}
.box-button{
    text-align: center;
    margin-top: 1rem;
}
.box-textarea button{
    display: inline-block;
}
.box-select{
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: .2rem;
}
.campania,.pieza,.nombre-pieza{
    width: 100%;
}

.form{
    max-width: 65rem;
    margin: 2rem auto;
    padding: 1rem;
}
p.error{
    color: #f83838;
    margin-top: 0;
    opacity: 0;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.flow > * + *{
    margin-top: var(--margint-top,2em);
}

/* Check */
.content-check input{
    width: initial;
}
.content-check-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.check-list{
    --margint-top:.2em;
    list-style: none;

}
.box-title{
    display: flex;
    align-items: center;
    margin-bottom:.5rem;
    text-transform: uppercase;
}
.check-list label{
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    padding: .5rem;
    background-color: var(--primary);
    cursor: pointer;
    transition: background-color .2s ease-out,border-color .2s ease-out;
}
.check-list label:hover{
    background-color: var(--secondary);
    
}
.check-list .active-list{
    background-color: var(--secondary);
}
/* Campo Pre */
.url-generate{
    position: relative;
}
.icon-copy{
    -webkit-mask-image: url(images/copy.svg);
    -webkit-mask-size: cover;
    background-color: rgb(112, 111, 111);
    cursor: pointer;
    padding: .5rem;
    position: absolute;
    right: .5rem;
    top: .5rem;
    width: 1.2rem;
    height: 1.2rem;
}
.icon-copy:hover{
    background-color: var(--secondary);
}
.pre{
    --margint-top:.8em;
    white-space: pre-wrap;
    background-color:var(--bg-color-pre);
    background-color: #f0f0f4;
    padding: 1rem 2rem;
    min-height: 60px;
}
.pre span{
    display: inline-block;
}

.url-preview{
    display: inline-block;
}
.content-active{
    position: relative;
}
/* Counter */
.counter{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 0.5rem;
    background-color: var(--secondary);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: white;
    margin-left: .5rem;
}
/* Overlay */
.overlay{
    background-color: #f5f5dcbd;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}

@media (max-width:720px) {
    .grid{
        grid-template-columns: 1fr;
    }
}
@media (max-width:720px) {
    .form{
        width: 90vw;
    }
}
